# App
NODE_ENV=
PORT=
API_PREFIX=

# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Redis
REDIS_HOST=
REDIS_PORT=

# Notifications service
NOTIFICATIONS_SERVICE_URL=